#!/bin/sh
set -e

if [ "{{ .chezmoi.os }}" != "darwin" ]; then
  exit 0
fi

if ! command -v brew >/dev/null 2>&1; then
  echo "Homebrew is required but not installed." >&2
  exit 1
fi

brew install antidote starship eza zoxide ripgrep micro fzf tldr bat btop
